<style>
* {
  margin: 0;
}

main {
  min-height: 100vh;
  margin-bottom: -100px;
} 

footer, .push {
  height: 100px;
}
</style>

<br/>
<br/>
<br/>
<br/>
<footer class="bg-dark text-center text-white">
  <div class="text-center p-3 bg-dark" style="">
    © 2022 Copyright:
    <a class="text-white" href="">The Chinaman</a>
    <%= link_to "About", home_about_path, class: "nav-link text-white" %>
    <%= link_to "The Anarchy Wall", posts_path, class: "nav-link text-white" %>
  </div>
</footer>