	
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow">
	  <div class="container-fluid">
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
		  <ul class="navbar-nav me-auto order-0 nav-pills">
			<li class="nav-item">
			  <%= link_to "About", home_about_path, class: "nav-link bg-dark text-white" %>
			</li>
		  </ul>
		  <div class="mx-auto anarchyheader">
			<%= link_to "The Anarchy Wall", posts_path, class: "navbar-brand" %>
			</button>
		</div>
		  <form class="d-flex ms-auto order-5">
          </form>
		</div>
	  </div>
	</nav>