
	<nav class="navbar navbar-expand-sm shadow">
	  <div class="container-fluid">
	  <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Left elements -->
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="mx-auto container"> <%= link_to "MakeSensei", posts_path, class: "navbar-brand mt-2 mt-lg-0" %> </li>
			<li class="nav-item">
			<a class="nav-link" href="#">Quests</a>
		  </li>
		  </ul>
		</div>
		<!-- Right elements -->
		<div class="d-flex align-items-center">
		  <!-- Avatar -->
		  <div class="dropdown">
			<a
			  class="nav-link dropdown-toggle"
			  href="#"
			  id="navbarDropdownMenuAvatar"
			  role="button"
			  data-bs-toggle="dropdown"
			  aria-expanded="false"
			>
			  <img
				src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
				class="rounded-circle"
				height="25"
				alt="Black and White Portrait of a Man"
				loading="lazy"
			  />
			</a>
			<ul
			  class="dropdown-menu dropdown-menu-end"
			  aria-labelledby="navbarDropdownMenuAvatar"
			>
			<!-- <% if user_signed_in? %> -->
			  <li>
				<a class="dropdown-item" href="#">Profile</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#">Edit Profile</a>
			  </li>
			  <li>
				<a class="dropdown-item" href="#">Logout</a>
			  </li>
			 <!-- <% else %> -->
				<li>
				<%= link_to "Sign in", new_user_registration_path, class: "dropdown-item" %>
				</li>
				<li>
				<%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
				</li>
	  		<!-- <% end %> -->
			</ul>
		  </div>
		</div>
		<!-- Right elements -->
	  </div>
	  </div>
	</nav>