
<div class="rounded-5 shadow">
  <div class="container">
    <h1 class="form-label">New message</h1>

    <%= render "form", post: @post %>

    <br>

    <div>
      <%= link_to "Back", posts_path %>
    </div>
  </div>
</div>