<div class="align-items-center justify-content-center mx-auto w-50 bg-white p-5 m-5">
  <div class="rounded-5 shadow p-3 mx-auto m-5 align-items-center justify-content-center">
    <div class="container">
      <h3 class="form-label anarchyfont">New message</h3>
      <%= render "form", post: @post %>
    </div>
  </div>
</div>